body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 15px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

#chart-container {
    height: 300px;
}

.restante {
    height: 300px;
}

#grafico-ingresos-egresos {
    height: 350px;
}

.budget-item {
    border-right: 1px solid #dee2e6;
}

.budget-item:last-child {
    border-right: none;
}

.details {
    height: 200px;
    overflow-y: auto;
}

.category-icon {
    font-size: 2rem;
    margin-bottom: 10px;
}


.detalles-container {
    max-height: 250px;
    overflow-y: auto;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.detalles-container::-webkit-scrollbar {
    width: 15px;
}

.detalles-container::-webkit-scrollbar-thumb {
    background-color: #FFC107;
    border-radius: 15px;
    border: 4px solid #f9f9f9;
}

.detalles-container::-webkit-scrollbar-track {
    background-color: #f9f9f9;
    border-radius: 15px;
}

.list-group-item {
    transition: background-color 0.2s ease;
    border-left: 4px solid transparent;
}

.list-group-item:hover {
    background-color: #f0f0f0;
    border-left-color: #FFC107;
}

.badge {
    transition: background-color 0.2s ease;
}

.detalles-container.ocio::-webkit-scrollbar-thumb {
    background-color: #198754;
}

.detalles-container.ahorro::-webkit-scrollbar-thumb {
    background-color: #0DCAF0;

}



.red {
    color: red;

}