/* Global Styles */

:root{
    --gasto:  #FFC107;
    --ahorro: #0DCAF0;
    --ocio: #198754;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

/* Card Styles */
.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 15px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* Chart Styles */
#chart-container,
#grafico-ingresos-egresos {
    height: 300px;
}

.restante {
    height: 400px;
    margin-top: 25px;
}

/* Budget Item Styles */
.budget-item {
    border-right: 1px solid #dee2e6;
}

.budget-item:last-child {
    border-right: none;
}

/* Scrollable Container */
.detalles-container {
    max-height: 250px;
    overflow-y: auto;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.detalles-container::-webkit-scrollbar {
    width: 15px;
}

.detalles-container::-webkit-scrollbar-thumb {
    background-color: var(--gasto);
    border-radius: 15px;
    border: 4px solid #f9f9f9;
}

.detalles-container::-webkit-scrollbar-track {
    background-color: #f9f9f9;
    border-radius: 15px;
}

/* Category Specific Scrollbar Colors */
.detalles-container.ocio::-webkit-scrollbar-thumb {
    background-color: var(--ocio);
}

.detalles-container.ahorro::-webkit-scrollbar-thumb {
    background-color: var(--ahorro);
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    .responsivo {
        margin-bottom: 20px;
    }
}

/* Color Styles */
.red {
    color: red !important;
}

.green {
    color: green !important;
}

/* List Group Item Hover Effect */
.list-group-item {
    transition: background-color 0.2s ease;
    border-left: 4px solid transparent;
}

.list-group-item:hover {
    background-color: #f0f0f0;
    border-left-color: var(--gasto);
}

.list-group-item.ocio:hover {
    background-color: #f0f0f0;
    border-left-color: var(--ocio);
}

.list-group-item.ahorro:hover {
    background-color: #f0f0f0;
    border-left-color: var(--ahorro);
}

/* Badge Hover Effect */
.badge {
    transition: background-color 0.2s ease;
}

/* Scrollbar Styles for Table */
.table-responsive {
    scrollbar-color: var(--gasto) #f1f1f1;
    scrollbar-width: thin;
}

.table-responsive::-webkit-scrollbar {
    height: 8px;
}

.table-responsive::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: var(--gasto);
    border-radius: 10px;
    border: 1px solid #f9f9f9;
}

/* Ocio and Ahorro Specific Scrollbars */
.table-responsive.ocio::-webkit-scrollbar-thumb {
    background-color: var(--ocio);
}

.table-responsive.ahorro::-webkit-scrollbar-thumb {
    background-color: var(--ahorro);
}

/* Firefox Scrollbar for Ocio and Ahorro */
.table-responsive.ocio {
    scrollbar-color: var(--ocio) #f1f1f1;
}

.table-responsive.ahorro {
    scrollbar-color:var(--ahorro) #f1f1f1;
}

.category-icon {
    font-size: 2rem;
    margin-bottom: 10px;
}

.progress-bar {
    transition: width 0.5s ease-in-out;
    font-weight: bold;
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-icon {
    font-size: 2rem;
    color: #333;
    cursor: pointer;
    margin: 0 20px;
}

.menu-item {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: #666;
}

.menu-container {
    display: flex;
    justify-content: flex-end;
    /* Alinea el menú a la derecha */
    align-items: center;
    margin-top: 20px;
}



#iframe-container {
    display: none;
    /* Oculto por defecto */
    margin-top: 20px;
    height: auto;
}

iframe {
    width: 1100px;
    height: 600px;
}

@media only screen and (max-width: 600px) {
    iframe {
        width: auto;
    }
}

a{
    color:white;
    text-decoration: none;
}

.chart {
    position: relative;
    height: 400px;
    margin-bottom: 10px;
}